.post{
    background-color: white;
    border:1px solid lightgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: contain;
}

.post_header{
    display:flex;
    align-items:center;
    padding:20px 10px;
    object-fit: contain;
}

.post_avatar{
    margin-right:10px;
    width: 50px;
    height: 50px;
}

.post_image{
    widows: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.post_text{
    font-weight:normal;
    padding:20px;
}

.post_commentBox {
    display: flex;
    margin-top: 10px;
  }
  
  .post_comments {
    padding: 5px 20px;
    color:black;
  }
  
  .post_input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid #3a3a3a;
  }
  
  .post_button {
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid #3a3a3a;
  }
  
